extends base

block vars
	- var title = 'Login'

block body
	form.form-signin
		label.sr-only(for='inputUID') Email / Username
		input#inputUID.form-control(type='text', placeholder='Email / Username', required=true, autofocus='')
		
		label.sr-only(for='inputPassword') Password
		input#inputPassword.form-control(type='password', placeholder='Password', required=true)

		button#submit-login.btn.btn-lg.btn-primary.btn-block(type='submit') Login
		
	p
		a(href='forgotpass') Forgotten Password?

block footer
	script( src='/js/login.js' )